.content-wrapper {
  max-height: 100%;
  background-color: #3A4B6C;
  display: flex;
  flex-direction: column;
}

.content {
  height: 92%;
}

.center-content {
  display: flex;
  justify-content: center;
}

.topbar-wrapper {
  height: 4%;
  color: #000;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbar {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar-header {
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
}

.footer {
  height: 4%;
  background-color: #FFFFFF;
}

.home {
  display: inline-block;
  position: relative;
  top: 30%;
  left: 25%;
}

.syllabi {
  width: 55%;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.syllabus {
  height: 80%;
  width: 100%;
}

.syllabi-options {
  width: 100%;
  height: 5%;
  display: flex;
  margin-bottom: 1em;
}

.syllabus-heading {
  height: 10%;
}

.syllabus-embed {
  width: 100%;
  height: 85%;
}

.syllabi-embed {
  width: 100%;
  height: 100%;
  border: 5px solid #FFF;
  border-radius: 15px;
}

.home, .syllabi {
  color: #FFF;
}

.syllabus {
  width: 100%;
  height: 95%;
}

.header {
  font-weight: bold;
  font-size: 5rem;
  color: #FFFFFF;
}

.custom-select {
  width: 200px;
}