.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: #3A4B6C;
}

.full-height {
  min-height: 100%;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar, .footer {
  background-color: #FFF;
  min-height: 3rem;
}

.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-content {
  display: flex;
  justify-content: center;
}

.scrollable {
  overflow-y: auto;
}

.topbar-wrapper {
  color: #000;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3em;
}

.topbar {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar-header {
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
}

.footer {
  height: 4%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.department-block {
  margin-bottom: 4em;
}

.department-header {
  font-weight: bold;
  border-bottom: 2px solid #FFF;
}

.department-list {
  list-style-position: inside;
}

.user {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add {
  color: #000;
}

.syllabi, .departments, .profile {
  flex: 1;
  margin: 1.5em;
}

.syllabus {
  height: 80%;
  width: 100%;
}

.syllabi-container {
  min-height: 100%;
}

.syllabi-options {
  width: 100%;
  display: flex;
  margin-bottom: 2em;
}

.syllabus-heading {
  text-transform: uppercase;
  font-weight: bold;
  margin: .5em;
}

.syllabus-embed {
  width: 100%;
  height: 800px;
}

.syllabi-embed {
  width: 100%;
  height: 100%;
  border: 5px solid #FFF;
  border-radius: 15px;
}

.home, .syllabi, .profile, .departments {
  color: #FFF;
}

.syllabus {
  width: 100%;
  height: 95%;
}

.home-header-main {
  font-weight: bold;
  font-size: 5em;
  color: #FFFFFF;
}

.home-header-find {
  font-size: 2em;
}

.home-form-department {
  margin-right: .5em;
}

.home-form-course-number {
  margin-right: .5em;
}

@media (max-width: 575.98px) {
  body {
    font-size: .9rem;
  }
}

@media (max-width: 575.98px) {
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .9em;
  }

  .home-header-main {
    order: 1
  }

  .home-description {
    text-align: center;
    order: 2
  }

  .home-header-find {
    order: 3;
  }

  .home-example {
    order: 4;
  }

  .home-form {
    width: 90%;
    order: 5;
  }

  .home-form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-form-department, 
  .home-form-course-number, 
  .home-form-submit {
    margin: .5em 0;
  }

  .home-to-database {
    order: 5;
  }
}

@media (max-width: 575.98px) {
  .table-custom-style {
    font-size: .8rem;
  }

  .profile-table-quarter-header, 
  .profile-table-quarter-col {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .syllabi-header {
    text-align: center;
  }

  .syllabi-options {
    display: flex;
    justify-content: center;
  }

  .syllabus-heading {
    display: flex;
    flex-direction: column;
  }

  .syllabus-heading-info {
    text-align: center;
  }

  .syllabus-heading-button {
    margin: 0;
  }

  .syllabi-message {
    text-align: center;
  }

  .syllabus-embed {
    display: none;
  }
}

.custom-select {
  width: 200px;
}

.table-custom-style {
  color: #FFF;
}